@namespace Masa.Blazor
@inherits MasaComponentBase

<div class="@GetClass()"
     style="@GetStyle()"
     id="@Id"
     @ref="@Ref"
     @attributes="@Attributes">
    <div class="swiper-wrapper">
        <CascadingValue Value="this" IsFixed>
            @ChildContent
        </CascadingValue>
    </div>
</div>
